<!DOCTYPE html>
<html>

<head>
    <title>Passport Login & Sign Up With Sequelize</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h2> - Your User Dashboard - </h2>
    <h2>Hurray! you are logged in 🥳.</h2>
</body>

</html>